<a href="https://colab.research.google.com/github/birth00724-del/python-practice/blob/main/tax_day1_ingggo.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#파이썬 첫번째

##코드(더하기)

###서브서브세션

In [1]:
1+1

2

#파이썬 두번째

In [3]:
2*5

10

#파이썬 세번째

In [4]:
print("Hello, world!")

Hello, world!

In [5]:
name = "홍길동"
age = 25
height = 175.5

print(name, "님의 나이는", age, "살입니다.")

홍길동 님의 나이는 25 살입니다.

In [6]:
a = 10
b = 3

print("더하기:", a + b)
print("빼기:", a - b)
print("곱하기:", a * b)
print("나누기:", a / b)
print("나머지:", a % b)

더하기: 13
빼기: 7
곱하기: 30
나누기: 3.3333333333333335
나머지: 1

In [7]:
score = 85

if score >= 90:
    print("A 학점")
elif score >= 80:
    print("B 학점")
else:
    print("C 학점 이하")

B 학점

In [8]:
score = 60

if score >= 90:
    print("A 학점")
elif score >= 80:
    print("B 학점")
else:
    print("C 학점 이하")

C 학점 이하

In [9]:
# for문
for i in range(5):
    print("반복:", i)

# while문
count = 0
while count < 3:
    print("Hello!")
    count += 1

반복: 0
반복: 1
반복: 2
반복: 3
반복: 4
Hello!
Hello!
Hello!